html, body, #map {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Titillium Web', serif;
}

#info {
  z-index: 1000;
  position: absolute;
  width: 25%;
  height: auto;
  top: 1%;
  left: .5%;
  padding: 40px 15px 40px 15px;
  background: #343a40;
  color: white;
  overflow: scroll;
}

@media only screen and (max-width: 1026px) {
  #info, {
    visibility: hidden !important;
  }
}

#info a {
  color: lightblue;
}

#info a:hover {
  color: blue;
  opacity: 0.3;
}

#info h4 {
  font-size: 1.25em;
  padding-right: 10px;
}


#title {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
}

/* social media icons */
#title span {
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

#placename {
  font-size: 30px;
  color: orange;
  font-family: 'Oswald', sans-serif;
}

#details {
  background: #F3DFA2;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  color: black;
}

#footer {
  margin-top: 50px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 150%;
  color: lightgray;
}

.row {
  padding-top: 10px;
}

.row h4 {
  display: inline;
}

.row a {
  font-size: 1.25em;
}

.leaflet-tooltip {
  font-size: 1.25em;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
